@import "tailwindcss";
@import "flowbite";
@theme {
  --color-page-background: #9ade7b;
  --color-app-primary: #68ba52;
  --color-app-secondary: #d44f24;
  --color-app-table-row: #e1ffd9;
  --color-app-danger: #f30000;
  --color-app-border: #9ade7b;
  --color-app-text: #9ade7b;
}

body {
  /* max-width: 1100px; */
  margin: 0 0;
  padding: 0 0;
  scrollbar-gutter: stable;
  font-family:
    inter,
    sans serif;
}

/* html {
  scrollbar-gutter: stable;
} */

.navbar li {
  padding: 0 10px;
}

:root {
  --top-bar-height: 4rem;
  --left-side-bar: 12rem;
}
